<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="/css/settings.css">
  <title>Settings</title>
</head>
<body>
    <ul>
      
      <li onclick="location.href='/<%=currentUser.username%>/password-change'"><i class="fa-solid fa-key"></i> Change Password</i>
      <li onclick="location.href='/<%=currentUser.username%>/request-verify'"><i class="fas fa-hand-paper"></i> Request for Blue Tick</i>
      
      <li><i class="fas fa-question-circle"></i> Help</i>
      <li><i class="fas fa-exclamation-triangle"></i> Report and Feedback</i>
      <li onclick="logout()" id="logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</i>
    </ul>
    
    
    <footer>
      <div id="footerHead">
        <h1>BBS</h1>
        <h1>CEO && OWNER</h1>
        <h1>MUKHTAR ALAM</h1>
      </div>
      
      <div id="logoContainer">
        <div id="LOGO" style="height: 40px; width: 40px; display: flex">
          <div style="background: #CCF630; height: 100%; width: 70%"></div>
          <div style="background: #333; height: 100%; width: 30%"></div>
        </div>
        <h1>Postify</h1>
      </div>
      
      <div id="links">
        <p>Mukhtar Alam © Nov 2024</p>
        <a href="mailto:mukhtar.alam458546@gmail.com">mukhtar.alam458546@gmail.com</a>
        <a href="https://linkedin.com/in/iibbs">Linkedin</a>
        <a href="https://github.com/mukhtaransarii">Github</a>
        <a href="/app/Postify_1.0.apk" id="PostifyAppLink">Download Postify App</a>
     </div>
      
    </footer>
  
  
    
   <script>
        function logout() {
          const confirmLogout = confirm('Are you sure you want to logout?');
          if (confirmLogout) {
            window.location = '/<%=currentUser.username%>/logout';
          }
        }

</script> 

</body>
</html>