@font-face{
  font-family: NRFONT;
  src: url(../font/NeueMontreal-Light.woff);
}
@font-face{
  font-family: RGFONT;
  src: url(../font/NeueMontreal-Regular.woff);
}
@font-face{
  font-family: GROTESK;
  src: url(../font/Grotesk.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #fff;
    font-family: RGFONT;
}
ul{
  width: 100%;
}

ul li{
 display: flex;
 align-items: center;
 padding: 20px 20px;
 background-color: white;
 gap: 5px;
}

ul #logout{
  color: red;
  background: #f0f0f0;
}

ul li:nth-last-child(-n+3) {
background: #f0f0f0;
}



ul li i{
  width: 25px;
}

footer{
  border-top: 3px solid #000;
  background: #fff;
  padding: 30px 20px 20px 20px;
}
footer #footerHead h1{
  font-family: GROTESK;
  font-size: 55px;
  line-height: 42px;
}

footer #logoContainer{
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer #logoContainer h1{
  font-family: NRFONT;
  font-size: 40px;
}

footer #links a, p{
  color: grey;
}